<h1>Olha que viadinho</h1>

<p>
<%#= image_tag @jogador.foto.url %>
  <%=@jogador.nome%>
</p>

<%#= image_tag @jogador.foto.url%>
<%#= image_tag @jogador.foto.url :grande%>
<%#= image_tag @jogador.foto.url :miniatura%>
<%#= image_tag @jogador.foto.url :avatar%>

<table class="partida" id="tabela_futebol_show">

  <th><%=@jogador.nome%></th>
  <th></th>


  <%=render 'layouts/estatisticas'%>
</table>

<%@jogador.participacoes.each do |participacao|%>
  <p>
    <%=link_to participacao.clube.nome, participacao%>
  </p>
<%end%>
